<div class='ui menu'>
  <a class="active item">
  <% link_to boards_path %>
   Home
  </a>
  <a class='item'>
  *Lists*
  </a>
  <a class='item'>
  *Tasks*
  </a>
  <div class="right menu">
    <a class="ui item">*Devise/Logout*</a>
</div>
</div>