<div class='ui menu'>
  <a href="/boards" class="item">
  <div class="ui basic inverted blue button">Home</div>
  </a>
  <div class="right menu">
    <a class="item"><div class="ui basic inverted red button">Devise/Logout</div></a>
  </div>
</div>
